//- <h1>hi</h1>

//views/index.pug
html
  body
    form(action="/charge", method="post")
      article
        label Amount: $5.00
      script(
        src="//checkout.stripe.com/v2/checkout.js",
        class="stripe-button",
        data-key='pk_test_zyAEyqN3PWtVx00kxlg808P300tO8ps53l',
        data-locale="auto",
        data-description="Sample Charge",
        data-amount="500")